# Ignore node modules
node_modules/

# Ignore environment files
.env
backend/.env
frontend/.env

# Build folders
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
